{
	"presets": [
		[ "latest", {
			"es2015": {
				"modules": false
			}
		} ],
		"stage-2"
	],
	"plugins": [
		"date-fns",
		"lodash",
		"transform-runtime",
		"transform-react-display-name",
		[ "transform-react-jsx", {
			"pragma": "h"
		} ]
	]
}
