.button {
	@extend %bold;
	padding: 0.6rem 1.4rem;
	border: 1px solid $border-color;
	border-radius: $border-radius;
    font-size: 0.8rem;
    text-transform: uppercase;
	cursor: pointer;

	&[disabled] {
		cursor: default;
		cursor: not-allowed;
		opacity: 0.4;
	}

	&:not( [disabled] ):hover {
		border-color: $border-hover-color;
	}

	&.is-primary {
		background-color: $color-blue;
		border-color: $color-blue;
		color: #fff;

		&:not( [disabled] ):hover {
			background-color: lighten( $color-blue, 10% );
			border-color: lighten( $color-blue, 10% );
		}
	}

	&.is-translucent {
		background-color: rgba( #fff, 0.20 );
		border-color: transparent;
		transition: background-color $transition-duration;

		&:not( [disabled] ):hover {
			background-color: rgba( #fff, 0.28 );
			border-color: transparent;
		}
	}
}
