.done-status {
	position: relative;
	display: inline-block;
	margin: 0 0.8rem;
	border: 1px solid $border-color;
	border-radius: 50%;
	height: 1.5rem;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	color: $border-color;
	vertical-align: top;

	&.is-toggleable {
		cursor: pointer;
	}

	&.is-done {
		background-color: $color-green;
		border-color: $color-green;
		color: #fff;
	}

	.icon {
		position: relative;
		display: block;
		margin: 0 auto;
	}
}

.done-status__check {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
