.tag-dones,
.tag-dones__date-list,
.tag-dones__user-list {
	list-style-type: none;
	padding-left: 0;
}

.tag-dones__date-list-item:not( :last-child ) {
	margin-bottom: 1rem;
}

.tag-dones__user-label {
	@extend %bold;
	margin-top: 0;
	font-size: 1rem;
}

.tag-dones__user-list-item {
	margin: 0.2rem 0;
}
